/* .product-card {
    margin: 0 8px 8px;
    width: 16rem;
    box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.2), 0 6px 20px 0 rgba(170, 170, 170, 0.2) !important;
}

.product-card:hover {
    box-shadow: 0 0 10px 0 rgba(219, 67, 67, 0.2), 0 6px 10px 0 rgba(219, 67, 67, 0.2) !important;
    border: 1px solid rgb(243, 150, 150) !important;
} */

.product {
    height: 280px;
    width: 150px;
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.p-footer {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.product .p-footer .p-name {
    padding: 4px 10px 4px 10px;
    font-size: 18px;
}

.product img {
    height: 200px;
    width: 130px;
}

.product .p-price {
    font-size: 18px;
    background-color: aqua;
    color: black;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.product button {
    font-size: 14px;
}